/*Tirar o espaçamento que ja vem*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, Sans-serif;
}
h1,
h2,
h3{
    font-size: 17px;
}

body{
    background-color: #ebe7e7;
    margin: 0 30px;
}

main .illustrativ-banner img{
    width: 480px;
}

main .navbar-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

 main .principal-container{
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 400px;
    height: 490px;

    display: flex;
    justify-content: center;
}   

#logo-instagram{
    width: 250px;
    margin:30px 0 15px 0;
}

.principal-container .logo-insta{
    display: flex;
    justify-content: center;
}

.principal-container .login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal-container .defaut-input{
    width: 300px;
    height: 50px;

    padding: 7px;
    margin: 5px;

    border-radius: 5px;
    border: 1px solid gray;
}

.principal-container .defaut-btn{
    background-color: #77A7FF;
    color: white;

    font-size: 15px;
    font-weight: bold;

    width: 300px;
    height: 35px;
    
    border-radius: 5px;
    border: none;
    margin: 10px 0 20px;
}

.principal-container #other-method{
    color: gray;
    display: flex;
}
.principal-container #other-method .underline{
    margin-top: -8px;
    text-align: center;
}


.principal-container #ou{
    margin: 0 10px 20px;
    color: #333;
}

.principal-container a #logo-facebook{
    width: 40px;
    margin-bottom: -6px;
}

.principal-container #redirect-facebook{

    color: #0c4bd3;
}

.principal-container .facebook-login{
    display: flex;
    justify-content: center;
}

a{
 text-decoration: none;
}

.link-es{
    text-align: center;
    margin-top: 10px;
}

#esqueceu-senha{
font-size: 13px;
color: #444;
}

.principal-container .create-account{
    background-color: white;
    
    margin-top: 30px;
    width: 400px;
    height: 80px;

    border-radius: 5px;
    border: 1px solid gray;
}

.principal-container .create-account{
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-container .create-account a{
    color: #0c4bd3;
}

.principal-container .create-account h2{
    color: #444;
    font-weight: 100;
}

.principal-container .store-redirect img{
    width: 150px;

}

.principal-container .download-app{
    text-align: center;
    margin-top: 30px;
}

.principal-container .download-app h2{
    margin-bottom: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
    height: 250px;
    margin: 200px 100px ;
}

footer p{

    margin: 20px;

    color: gray;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;

}